.cls
{
    background-color: rgb(170, 249, 255);
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px;
    text-align: center;
    font-size: 500;
}
.cls2
{
    text-align: center;
}
